.tables {
  margin-top: 105px;
}
table {
  margin-top: 37px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 118px;

  background: #f8f8f8;
}

td,
th {
  border: 1px solid rgba(174, 15, 15, 0.25);
  text-align: center;
  padding: 10px;
}
th {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  color: #ae0f0f;
}
.yellow {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #e29235;
}
.red {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #AE0F0F;
}
.green {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #90D83E;
}
.blue {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #1BB6D7;
}
.purple {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #B39DCE;
}
